@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-bottom: 4px solid rgb(249 115 22 / 1);
  color: rgb(249 115 22 / 1);
}

.particle-bg-x {
  background-color: transparent;
  background-image: radial-gradient(orange 2px, #ffffff10 1px);
  background-size: 50px 40px;
}

th,
td {
  padding: 1rem;
  text-align: center;
}

.custom-loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #f97316;
  border: 2px solid;
  position: relative;
}

.custom-loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: #f97316;
  animation: p6 2s infinite;
}

@keyframes p6 {
  100% {
    inset: 0
  }
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  background-color: #f97316;
}